{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <h3>Sebagai salah satu negara tropis yang dilewati oleh garis khatulistiwa, Indonesia hanya memiliki 2 musim yaitu musim hujan dan musim kemarau. Hal itu juga yang membuat indonesia selalu disinari oleh matahari setiap harinya.
    Memanfaatkan keadaan tersebut, kita dapat mulai mengembangkan energi terbarukan dari sinar matahari sebagai pengganti listrik yang berkaitan dengan sustainable energy transition. 
    Penggunaan panel surya sebagai pengganti listrik dirumah dapat membantu pemilik rumah untuk menghemat pemakaian listrik dari negara sehingga biaya yang harus dikeluarkan tiap bulannya lebih murah.
    Ayo gabung bersam kami menjadi salah satu warrior peduli lingkungan dengan menggunakan panel surya MyPanel!
  </h3>
{% endblock content %}