{% extends 'base.html' %}

<head>
    <!-- Required meta tags -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
  
<body>
    {% block content %}

    <h1>Kalkulator</h1>
        <!-- Modal content -->
    <div class = "overflow-auto">
                    <div class="form-floating mb-3">
                        <input id="electricity" name="electricity" class="form-control"  placeholder="30">
                        <label for="floatingInput">Your Electricity Cost For One Year</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="offset" name="offset" class="form-control"  placeholder="50">
                        <label for="floatingInput">Persentase Tagihan Offset (%) </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="envfactor" name="envfactor" class="form-control"  placeholder="50">
                        <label for="floatingInput">Faktor Pengaruh Cuaca (Environment Element Factor) </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="roofarea"name="roofarea" class="form-control"  placeholder="50">
                        <label for="floatingInput">Luas Perkiraan Atap </label>
                    </div>
                    <button onclick ="calculate()" class="btn btn-success">Lets Calculate It!</button>
                    <button id = "click" class="btn btn-success">Lets Save It!</button>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pesan">
                        Launch demo modal
                      </button>
        </div>
        <div id="pesan" class="modal" tabindex="-1"></div>
        <h2 id ="hasil"></h2>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock content %}
    </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function debug(){
        $(document).ready(function(){
                $.ajax({
                url : "{% url 'kalkulator:show_json' %}",
                success : function(result){
                    for (i=0;i<result.length;i++){
                        console.log(result[i].fields)
        }}});
        });
    }
    
    function calculate(){
        let doable = false
        let tagihanlistrik = Number($("#electricity").val());
        console.log(tagihanlistrik);
        let daya = Number($("#offset").val());
        console.log(daya);
        let faktorlingkungan = Number($("#envfactor").val());
        console.log(faktorlingkungan);
        let luasatap = Number($("#roofarea").val());
        console.log(luasatap);
        let solarhours = Number(3.7); //solarhours itu intensitas matahari ke suatu daerah, kalo indo, rata-rata 3.7

        let solar_array_output = tagihanlistrik / (365*solarhours); //calculating your solar panel needs
        console.log(solar_array_output);

        let solar_array_size = solar_array_output * ((daya/100)/(faktorlingkungan/100)); //daya dan faktor lingkungan seharusnya dalam persen, tapi kan inputnya integer bulat biasa

        let required_panel = (solar_array_size * 1000)/(300); //No.Of panels needed

        let required_area = Math.ceil(required_panel*1.4); //1.4 adalah luas per panel.
        $.post("/calculator/create-ajax",{
            csrfmiddlewaretoken:$('input[name = csrfmiddlewaretoken]').val(),
            tagihanlistrik: Number($("#electricity").val()),
            daya : Number($("#offset").val()),
            faktorlingkungan : Number($("#envfactor").val()),
            luasatap : Number($("#roofarea").val()),
            solar_size : solar_array_size,
            required_panel : (solar_array_size * 1000)/(300),
            required_area : Math.ceil(required_panel*1.4),
            }
        )
    }
</script>
