{% extends 'base.html' %}

{% block content %}

<meta name="viewport", content="width=device-width, initial-scale=1.0">
<style>
  p{
    text-align: left;
    }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;

  }
  .modal-dialog{
    height: 50%;
    width: 50%;
    margin:auto;
}


.modal-header{
    color: white;
    background-color: #007bff;
}

textarea{ border: none; 
    box-shadow: none !important;
    -webkit-appearance:none;
    outline:0px !important;
}

.openmodal{
    margin-left: 35%;
    width: 25%;
    margin-top: 25%;
}

.icon1{
   color: #007bff;

}

a{
    margin: auto;
}

input{
    color: #007bff;
    

}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      
    <script type="text/javascript" language="javascript">
    $(document).ready(function() {
        $.get("/testimoni/json/", function(testimoni) {
           
            for (i = 0; i < testimoni.length; i++){
              console.log(testimoni[i])
                $(".task_print").append(` <div> <div class="card m-2 w-75" id="card-${testimoni[i].pk}">
                    <div class="card-body">
                      <h5 class="card-title">${testimoni[i].fields.title}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Created :${testimoni[i].fields.date}</h6>
                      <p class="card-subtitle mb-2 text-muted">From : ${testimoni[i].fields.customer}</p>
                      <p class="card-text">${testimoni[i].fields.description}</p>
                      {% if user.is_authenticated%}
                      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-bs-toggle="modal" style="margin-right: 30px;"  onclick="deleteCard(${testimoni[i].pk})">Delete</button>
                      {% endif %}
                    </div>
                  </div>
                </div>`)
            }
   
      $("#reply").click(function(a){
            const result = $.post("/testimoni/reply", {
              reply: $('#entryreply').val(),},
              )
            
              $("#replyid").text($('#entryreply').val())
              a.preventDefaultly
            window.location = '/testimoni/reply'
        })
        });
      $("#click").click(function(){
          $.post("/testimoni/create-ajax/",{
            // title : $('#title').val(),
            title : $("input[name='feedback']:checked").val(),
            
            description: $('#description').val()},
            function (result) {
                var instance = JSON.parse(result);
                var fields = instance[0]["fields"];
                var id = instance[0]["pk"];
                console.log(id);

            
              $(".task_print").append(` <div> <div class="card m-2 w-75" id="card-${id}" >
                    <div class="card-body">
                      <h5 class="card-title">${fields["title"]}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Created : ${fields["date"]}</h6>
                      <p class="card-subtitle mb-2 text-muted">From : ${fields["customer"]}</p>
                      <p class="card-text">${fields["description"]}</p>
                      {% if user.is_authenticated%}
                      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-bs-toggle="modal" style="margin-right: 30px;" onclick="deleteCard(${id})">Delete</button>
                      {% endif %}
                    </div>
                  </div>`) 
              $('#title').val(''),
              $('#description').val('')
            }
            )
          })

          
        
          
    }); 
    function deleteCard(id) {
            const deleteURL = "delete/" + id;
            console.log(deleteURL);
            $.ajax({
                url: deleteURL,
                type: 'DELETE',
                success: function (result) {
                    console.log("tes"),
                    $(`#card-${id}`).remove()
                }
            });
        }

    </script>
    

   
        </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3>Feedback Request</h3>
              
                      <!--Close/Cross Button-->
                      <button type="button" class="close" data-dismiss="modal" style="color: white;" href=""  data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal Body-->
                    <div class="modal-body text-center">
                      <form method="POST" action="">
                        {% csrf_token %}
                 
                        <h3>Your opinion matters</h3>
                        <h5>Help us improve our product? <strong>Give us your feedback.</strong></h5>
                        <hr>
                        <h6>Your Rating</h6>
                      </div>
                
                      <!-- Radio Buttons for Rating-->
                      <div class="form-check mb-4">
                        <input type="radio" name="feedback" id="title" value="Very Good" placeholder="Very Good">
                        <label class="ml-3">Very good</label>
                      </div>
                      <div class="form-check mb-4">
                        <input type="radio" name="feedback" id="title" value="Good" placeholder="Good">
                        <label class="ml-3">Good</label>
                      </div>
                      <div class="form-check mb-4">
                        <input type="radio" name="feedback" id="title" value="Mediocre" placeholder="Mediocre">
                        <label class="ml-3">Mediocre</label>
                      </div>
                      <div class="form-check mb-4">
                        <input type="radio" name="feedback" id="title" value="Bad" placeholder="Bad">
                        <label class="ml-3">Bad</label>
                      </div>
                      <div class="form-check mb-4">
                        <input type="radio" name="feedback" id="title" value="Very Bad" placeholder="Very Bad">
                        <label class="ml-3">Very Bad</label>
                      </div>
                
                      <!--Text Message-->
                      <div class="text-center">
                        <h4>What could we improve?</h4>
                      </div>
                      <textarea type="textarea"  name="description" placeholder="Write down your feedback" class="form-control" id="description" rows="3"></textarea>
                    </form>
                
                
                      <!-- Modal Footer-->
                      <div class="modal-footer">
                        <a id="click" data-bs-dismiss="modal" class="btn btn-primary">Send</a>
                        <a href="" class="btn btn-outline-primary" data-dismiss="modal">Cancel</a>
                      </div>
                    
              
                  
              </div>
              
          </div>
    </div>
    
      
  </div>
</div>




<body style="background-color: rgb(255, 255, 255);">
<div>
  <div class="container" data-aos="fade-up" style = "margin-bottom: 50px;">
    <div class="section- text-center" ALIGN="center">
      <h2>Testimonials</h2>
      <h6>Hi, Write down your testi!</h6>
      {% if user.is_authenticated %}
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 30px; margin-bottom: 500px;">
        Add Testimoni
      </button>
    {% endif %}
    </div>
    
      
    

    <div class="container-fluid mx-3 task_print" style="display: grid;grid-template-columns: repeat(3,minmax(0,1fr)); margin-top: 30px;" ></div>
    

      
  

</div>

</body>


{% endblock content %}